<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
</head>
<body>
    <h2>Broken Robot Description</h2>
    <p>
        Our game Broken Robot is being created for the class CIS 174 (Advanced C# Programming). In this game you will play as a robot who is unnamed. Our robot friend awakens in a forest filled
        with trees, animals, and obstacles. The robot starts as a rusted mess. He needs fixing and luckily you can help. As you progress throughout the game you can improve and add onto the robot.
        We won't spoil anything, but as you progress the robot will get all sorts of new shiny toys to explore each level with. From improving your mobility, to changing your color. These things
        need to be found and collected in order to progress through each level.
    </p>
    <p>
        So far our robot friend doesn't have much of a story, but we plan to tell one through minor details in each level. Some things that COULD be answered are: Who is our robot friend, where is he,
        what happened to the world around him? These things and more but, we want to leave it open-ended to allow for more expansion throughout the entire game. Always improving and changing just like
        the robot you play as. 
    </p>
    <p>
        In more technical terms we want our game to be a 2D platformer. We want to add improvements to our character, the robot, through items. These items would change the appearance of the robot and allow
        him to do new things. Allowing things such as double jumps, sliding, etc throughout the gameplay. The environment will change level-to-level and we will plan on having simple art (such as a forest 
        with trees, small animals, and other plants).  It will be level based so you will start in one place, and work through it until you reach a end. Throughout the level there will items that will fall 
        into two categories: Things you need and things that are collectibles. Each will be able to be collected, but only the things you need are required to pass the level. You can go back to each level 
        and explore again to find anything you missed the first time. In our game we would like to include a leader board for speed of completing a level and getting all the collectibles in the levels. 
        We believe this is a interesting concept that could go in many different directions. Keeping it open-ended makes sure we don't over extend ourselves while being able to add as much content as 
        possible. There have been many different 2D platformers that have explored many of the same concepts we have mentioned, but we plan to think of some interesting new mechanics and a simple (but 
        interesting) story to go with it.
    </p>
</body>
</html>
